.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    cursor: pointer;
}

li.completed {
    text-decoration: line-through;
}

.input-container {
    margin-top: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 5px;
}

button {
    padding: 5px 10px;
}
